.form-wrapper {
  border: 1px solid #ffdd57;
  position: relative;
  padding: 1.5rem;
}

.form-wrapper:before {
  background: #ffdd57;
  border-radius: 3px 3px 0 0;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.7);
  content: attr(title);
  display: inline-block;
  font-size: .75rem;
  font-weight: bold;
  left: -1px;
  letter-spacing: 1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}
